[submodule "depend/chisel3"]
	path = depend/chisel3
	url = https://github.com/chipsalliance/chisel3.git
[submodule "depend/firrtl"]
	path = depend/firrtl
	url = https://github.com/chipsalliance/firrtl.git
[submodule "depend/chiseltest"]
	path = depend/chiseltest
	url = https://github.com/ucb-bar/chiseltest.git
